<OPTIONS>
    xmlout = 1
    match-type = 
    TC-for-BioLG = 0
    annotate-only = 0
    suffix = default
    TT-for-BioLG = 0
    debug = 0
    monolexical-all = 0
    termList = multi
    TTG-style-term-candidates = multi
    monolexical-included = 0
    XML-corpus-for-BioLG = 0
    language = EN
    MESSAGE_DISPLAY = EN
    printChunking = 0
</OPTIONS>
<DefaultConfig>
    CONFIG_DIR = /usr/share/YaTeA/config
    RESULT_DIR = \$PWD/RESULTS
    LOCALE_DIR = /usr/share/YaTeA/locale
</DefaultConfig>
